* {
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main {
  display: flex;
  gap: 20px;
  padding: 5px 25px 5px 0px;
}
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0px;
}
ul,
ol {
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  display: block;
}
