html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;

  background-color: #f4d8d8;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0px;
}
ul {
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  display: block;
}
