.rate-search {
  display: flex;
  flex-direction: column;

  align-items: flex-end;

  font-size: 25px;
  margin: 10px 10px 10px 0;
  padding: 15px;

  border-radius: 15px 15px 0 15px;
}
.rate-search input {
  width: 30px;
  height: 25px;
}
