.rate-search {
  display: flex;
  flex-direction: column;

  background-color: var(--cor-6);

  border: 1px solid;
  border-radius: 30px 30px 0 30px;
  padding: 20px 15px;

  max-width: 350px;
  min-height: 120px;

  margin-left: auto;
  margin-right: 0;
}
.rate-search form {
  text-align: center;
  padding: 10px 0;
}
.rate-search h3 {
  color: var(--cor-0);

  text-align: center;

  font-size: 25px;
  padding: 10px 0;
}
.rate-search input {
  width: 40px;
  height: 25px;
}
