.input-search{

}
fieldset{
  border: none;
}
.input-search input{
  border-radius: 15px ;
  padding: 10px 10px;
  margin: 10px 10px 0 10px;

  height: 60px;
  width: 1000px;

}
.input-search label{
  font-size: 50px;
}

/**s.search-content {
  height: 100%;
  border: 2px solid;

  display: flex;
  flex-direction: column;
  margin: 5px 0 5px 0;
}
.search-result {
  margin: 5px 0 5px 0;

  padding: 20px;
}

form {
  border-radius: 8px;
}
fieldset {
  border: none;
}
input {
  padding: 15px;
}

p {
  overflow-y: scroll;
  scrollbar-width: thin;
}
.search-input {
}
