section {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 0 30px;

  /*min-width: 800px;
  max-width: 1100px;*/
  width: 100%;
  height: 100vh;
}

.search-result {
  max-height: 550px;

  overflow-y: scroll;
  scrollbar-width: none;

  text-wrap: wrap;
}
h1,
h2,
h3,
h4,
ul,
p,
a,
ul,
ol {
  /*letter-spacing: 0.3px;*/
  line-height: 1.7;
  line-height: 1.3;
  padding: 10px;
}

p {
  font-size: 20px;

  text-align: start;
  align-content: center;

  padding-bottom: 10px;
}
