section {
  display: flex;
  flex-direction: column;

  background-color: var(--cor-0);

  /* padding: 30px 50px 0 50px;*/
  padding: 30px 90px 0 90px;

  width: 100%;
  height: 100vh;
}

.search-result {
  max-height: 550px;

  overflow-y: scroll;
  scrollbar-width: none;

  text-wrap: wrap;
}
.search-result h2 {
  color: var(--cor-2);
  font: 700 1.45rem/1.7 "Playfair Display", sans-serif;
  padding-bottom: 5px;
  letter-spacing: 0.2px;

  /*
  letter-spacing: 0.4px;
  line-height: 1;*/
}
.search-result p {
  color: var(--cor-4);
  padding-bottom: 10px;
  font: 400 1.2rem/1.5 "Lora", sans-serif;
  letter-spacing: 0.3px;

  /*
  font-size: 20px;
  line-height: 1.7;
  line-height: 1.6;
*/
}

.search-result ul {
  color: var(--cor-4);
  padding-bottom: 10px;
  font: 400 1.1rem/1.5 "Lora", sans-serif;
  letter-spacing: 0.3px;
  list-style: disc;

  /*
  font-size: 20px;
  letter-spacing: 0.7px;
  line-height: 1.7;
  line-height: 1.6;
  margin-bottom: 15px;*/
}
.search-result ol {
  color: var(--cor-4);

  padding-bottom: 10px;
  font: 400 1.1rem/1.5 "Lora", sans-serif;
  letter-spacing: 0.3px;
}
