section {
  display: flex;
  flex-direction: column;

  background-color: var(--cor-0);

  padding: 30px 30px 0 30px;
  width: 100%;
  height: 100vh;
}

.search-result {
  max-height: 550px;

  overflow-y: scroll;
  scrollbar-width: none;

  text-wrap: wrap;
}
.search-result h1,
h2,
h3,
h4 {
  color:var(--cor-2);

  letter-spacing: 0.3px;
  line-height: 1.7;
  line-height: 1.3;
  padding: 10px;
}
.search-result p{
  color: var(--cor-4);

  font-size: 20px;
  letter-spacing: 0.7px;
  line-height: 1.3;
  line-height: 1.3;
  padding: 10px;
}

.search-result ul{
  color: var(--cor-4);

  font-size: 20px;
  letter-spacing: 0.7px;
  line-height: 1.3;
  line-height: 1.3;
  padding: 10px;
}
.search-result ol {
  color: var(--cor-4);

  font-size: 20px;
  letter-spacing: 0.7px;
  line-height: 1.3;
  line-height: 1.3;
  padding: 10px;
}

/*p {
  font-size: 20px;
  padding-bottom: 10px;

  text-align: start;
  align-content: center;
}
