.search-result {
  flex-basis: 750px;
  flex-grow: 0;
  flex-shrink: 0;

  margin: 0 30px 0 30px;
  height: 550px;

  overflow-y: scroll;
  scrollbar-width: thin;
}
p {
  font-size: 20px;

  text-align: start;
  align-content: center;

  padding-bottom: 10px;
}
