.input-search {
  display: flex;
  flex-direction: column;

  padding: 30px 0;
}
.input-search p {
  text-align: center;

  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
}
fieldset {
  border: none;
}
.input-search input {
  height: 60px;
  width: 100%;

  display: flex;
  align-content: flex-end;
  justify-content: flex-end;

  padding: 0 20px;
  border-radius: 20px;
  font-size: 16px;

  /* font-weight: bold;*/
}
