.input-search {
  display: flex;
  flex-direction: column;

  height: 150px;

  justify-content: flex-end;

  text-wrap: wrap;
  padding: 10px 0 0 0;
}
.input-search p {
  /* display: none;*/
  text-align: center;

  font-size: 20px;
  padding-bottom: 10px;
}
fieldset {
  border: none;
}
.input-search input {
  height: 60px;
  width: 100%;

  padding: 20px;
  border-radius: 20px;
  font-size: 15px;
  margin-bottom: 20px;
}
