section {
  display: flex;
  flex-direction: column;

  min-width: 800px;
  max-width: 1100px;
}

.search-result {
  max-height: 550px;

  overflow-y: scroll;
  scrollbar-width: thin;
}
h1,
h2,
h3,
h4,
ul,
p,
a,
ul,
ol {
  /*letter-spacing: 0.3px;*/

  padding: 0 10px 15px 10px;
}

p {
  font-size: 20px;

  text-align: start;
  align-content: center;

  padding-bottom: 10px;
}
