.input-search {
  display: flex;
  flex-direction: column;
  text-wrap: wrap;

  padding: 10px 0 0 0;
}
.input-search p {
  /* display: none;*/
  text-align: center;

  font-size: 20px;
  padding-bottom: 10px;
}
fieldset {
  border: none;
}
.input-search input {
  height: 60px;
  width: 100%;

  display: flex;
  align-content: flex-end;
  justify-content: flex-end;

  padding: 0 20px;
  border-radius: 20px;
  font-size: 15px;
}
