section {
  display: flex;
  flex-direction: column;

  min-width: 700px;
  max-width: 1000px;
}

.search-result {
  max-height: 500px;

  overflow-y: scroll;
  scrollbar-width: thin;
}
p {
  font-size: 20px;

  text-align: start;
  align-content: center;

  padding-bottom: 10px;
}
