/*GERAL*/
@import "css/global.css";
@import "css/colors.css";
@import "css/tipografia.css";
@import "css/searchbar.css";

/*CONTEÚDO ASIDE E HISTÓRICO DE PESQUISA*/
@import "css/aside/dashboard.css";
@import "css/aside/user.css";
@import "css/aside/historico.css";

/*EXIBIÇÃO DA BARRA E RESULTADOS DE PESQUISA*/
@import "css/search/search.css";
@import "css/search/result.css";
@import "css/search/rate.css";
@import "css/search/searchbar.css";
