@import "css/global.css";
@import "css/colors.css";
@import "css/tipografia.css";
@import "css/searchbar.css";

/*DASHBOARD*/
@import "css/dashboard/dashboard.css";
@import "css/dashboard/user.css";
@import "css/dashboard/historico.css";
