.input-search {
  display: flex;
  flex-direction: column;

  height: 150px;

  justify-content: flex-end;
  text-wrap: wrap;
}
.input-search p {
  /* display: none;*/
  text-align: center;
  font: 200 1.1rem/1.4 "Inter", sans-serif;
  padding-bottom: 20px;
}
fieldset {
  border: none;
}
.input-search input {
  height: 60px;
  width: 100%;

  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;

  font: 300 1.1rem/1.4 "Inter", sans-serif;
}
