* {
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
}

body {
  /*background-color: #f4f1ec;*/

  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main {
  display: flex;
  /*gap: 20px;*/
}
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0px;
}
ul,
ol {
  padding: 0px;
}
a {
  text-decoration: none;
  color: inherit;
}
