.user {
  display: flex;
  align-items: center;
  padding: 10px 10px;
}
.user span {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: bolder;
  font: 400 1.1rem/1.4 "Inter", sans-serif;
}
