.historico {
  border: 1px solid;
  border-radius: 8px;
}
.historico h3 {
  text-align: center;
  margin: 15px 0 10px 0;
}
.historico ul {
  height: 500px;
  overflow-y: scroll;
  scrollbar-width: thin;

  padding: 10px;
}

li {
  border: 1px solid;
  border-radius: 4px;
  padding: 0 10px 10px 10px;
  margin: 5px;
}
