.historico {
  border: 1px solid;
  border-radius: 8px;

  background-color: white;
}
.historico h3 {
  text-align: center;
  margin: 15px 0 5px 0;
}
.historico ul {
  overflow-y: scroll;
  scrollbar-width: thin;

  height: 550px;
  padding: 0 15px;
}

.historico li {
  max-width: 40ch;

  border: 1px solid;
  border-radius: 4px;

  font-size: 20px;
  padding: 0 10px 10px 10px;
  margin: 5px;

  background-color: rgb(255, 245, 249);
}
