.historico h3 {
  text-align: center;
  padding-bottom: 20px;
  font: 600 1.15rem/1.4 "Inter", sans-serif;
}
.historico ul {
  overflow-y: scroll;
  scrollbar-width: thin;

  height: 550px;
  padding: 0 15px;
}

.historico li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: var(--cor-7);

  border-radius: 4px;
  padding: 5px;
  margin: 2px 0;

  font: 300 1.1rem/1.4 "Inter", sans-serif;
  padding-bottom: 5px;
  letter-spacing: 0.2px;
}
.historico li:hover {
  background: #e8d6d2;
}
