.historico h3 {
  text-align: center;
  padding-bottom: 20px;
}
.historico ul {
  overflow-y: scroll;
  scrollbar-width: thin;

  height: 550px;
  padding: 0 15px;
}

.historico li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: var(--cor-7);

  border-radius: 4px;
  padding: 10px;
  margin: 2px 0;

  font-size: 20px;
}
.historico li:hover {
  background: #e8d6d2;
}
