.historico {
  /*border: 1px solid;
  border-radius: 8px;

  background-color: white;*/
}
.historico h3 {
  text-align: center;
  padding-bottom: 20px;
}
.historico ul {
  overflow-y: scroll;
  scrollbar-width: thin;

  height: 550px;
  padding: 0 15px;
}

.historico li {
  /* max-width: 40ch;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /*
  border-radius: 4px;*/

  padding: 5px;
  margin: 2px 0;

  font-size: 20px;
  /*padding: 0 10px 10px 10px;
  margin: 5px;*/

  /**background-color: #;*/
  /*color: #e9e9d5;*/
}
