.user {
  display: flex;
  align-items: center;
  padding: 0 10px;

  /* border: 1px solid;
  border-radius: 8px;

  background-color: white;*/
}
.user span {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: bolder;
}
