.user {
  display: flex;
  align-items: center;

  margin-bottom: 15px;
  padding: 5px;
  gap: 20px;

  border: 1px solid;
  border-radius: 8px;

  background-color: white;
}
.user span {
  text-transform: uppercase;
}
